body {
    background-color: white;
    font-family: "Acumin Pro", sans-serif;
}

a {
    color: black;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}

a:hover {
    color: gray;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}

h1 {
    color: #ff9966;
}

nav {
    background-color: #eeeeee;
}

.thailand {
    color: #ff9966;
}

/* parallax */

.parallax-window {
    min-height: 400px;
    background: transparent;
}


/*carousel*/

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}