body {
    background-color: white;
    font-family: "Acumin Pro", sans-serif;
}

a {
    color: black;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}

a:hover {
    color: gray;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}

h1 {
    color: #ff9966;
}

.about {
    width: 100%;
    height: 95vh;
    position: relative;
    background-color: #ffcc66;
    padding: 120px;
}

.about h1 {
    font-family: arvo, serif;
    font-weight: 700;
    font-style: normal;
}

.about p {
    font-family: roboto-slab, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

nav a {
    color: #ff9966;
}

.carousel-1 {
    color: #ff9966;
    font-family: arvo, serif;
    font-weight: 700;
    font-style: normal;
}

/* parallax */

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*carousel*/

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}